
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: #fff;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
    font-size: 14px;
}

button {
    background-color: #febe01;
    border-radius: 4px;
    height: 30px;
    width: 120px;
}

img {
    max-width: 100%;
}

.grid-container {
    grid-template-rows: repeat(4,auto);
    display: grid;
    align-items: center;
    align-content: center;
    row-gap: 20px;
    justify-items: center;
    border-radius: 1px solid #333;
}

.grid-item{
    height: 360px;
    width: 600px;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid;
    background-color: black;
    padding-left: 20px;
    padding-top: 20px;
}

#logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

img.format {
    width: 300px;
    height: 150px;
    border-radius: solid 1px white;
}