
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: #fff;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
    font-size: 14px;
}

button {
    background-color: #febe01;
    border-radius: 4px;
    height: 30px;
    width: 120px;
}
.grid-container {
    grid-template-rows: repeat(3,auto);
    display: grid;
    align-items: center;
    align-content: center;
    row-gap: 20px;
    justify-items: center;
}

.grid-item{
    height: 215px;
    width: 500px;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid;
    background-color: black;
    padding-left: 20px;
}
