
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #fff;
    margin: 0;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
    font-size: 14px;
}

button {
    background-color: #febe01;
    border-radius: 4px;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    margin-left: 9%;
    margin-right: 9%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

.grid-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: black;
    border: 1px solid #fff;
    padding: 20px;
    width: 600px;
    height: auto;
}

#logo {
    height: 100px;
    width: 100px;
    border: 3px solid rgb(171, 199, 100);
    border-radius: 50%;
    margin: auto;
}

img.format {
    width: 300px;
    height: 150px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 20px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu li{
    background-color:  rgb(144, 182, 115);
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
}